{% extends "pets.html" %}
{% load static %}

{% block title %}{{ pet.name }}{% endblock %}

<body>
<div class="grid">
    <main>
        <section class="hero">
                {% block content %}
                <div class="gallery-adopt">
                    <h1>Take me Home</h1>
                    <div class="gal-row">
                        <div class="gallery">
                            <div>
                                <img id="gallery-current" src="{% get_static_prefix %}images/{{pet.name}}.png"
                                     alt='{{pet.name}}'>
                            </div>
                        </div>
                        <div class="text"><h4>Adopt a {{ pet.species }}</h4>
                            <h5>&hearts; Hi! My name is {{ pet.name }}</h5>
                            <p class="dolls">I am {{ pet.breed }},
                                {% if pet.gender == 'M' %} boy {% elif pet.gender == 'F' %} girl {% endif %}
                                and {{ pet.age }} years old.</p>
                            <p class="dolls">{% if pet.species == 'Cat' %} My favourite foods are fish and chicken soup.
                                {% elif pet.species == 'Dog' %} My favourite foods are bones and peanut butter.
                                {% endif %} <br/>
                                {% if pet.species == 'Cat' %} I am playful, outgoing and friendly. <br/>
                                Petting me will make you feel more relaxed.
                                {% elif pet.species == 'Dog' %} I am playful, brave and loyal.
                                {% endif %}
                            </p>
                            <a href="{{pet.pk}}/thanks">
                                <button class="buy-btn">Adopt Me</button>
                            </a>
                        </div>
                    </div>
                </div>
                {% endblock %}
        </section>
    </main>

</div>

</body>
