{% extends "pets.html" %}
{% load staticfiles %}

{% block content %}
<h1>Choose a Pet</h1>
<a class="underline--magical" href="/pets/">Fill the form to find your dream pet </a>
<form name="contact" method="post" action="">
    {% csrf_token %}
    <fieldset class="contact-form">
        <p><label for="{{ form.pet.id_for_label }}"> {{ form.pet.help_text }} </label>
            {{ form.pet }}
        </p>
        <br/>
        <p>
            <label for="{{ form.pet_breed.id_for_label }}">{{ form.pet_breed.help_text }}</label>
            {{ form.pet_breed}}
        </p>
        <br/>
        <p><label for="{{ form.pet_gender.id_for_label }}"> {{ form.pet_gender.help_text }}</label>
            {{ form.pet_gender }}
        </p>
        <br/>
        <p><label for="{{ form.pet_age.id_for_label }}">{{ form.pet_age.help_text }}</label>
            {{ form.pet_age }}
        </p>
    </fieldset>
    <button class="btn btn-form">Send</button>
</form>
{% endblock %}
